<!DOCTYPE html>
<html>
  <head>
    <title>BookReview</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="masthead">
        <h3 class="text-muted">Book Review</h3>
        <nav class="navbar navbar-expand-md navbar-light bg-light rounded mb-3">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav text-md-center nav-justified w-100">
              <li class="nav-item active">
                <%= link_to "Home", root_path, {:class => "nav-link"} %>
              </li>
              <% if user_signed_in? %>
                <li class="nav-item">
                <%= link_to "Sign Out", destroy_user_session_path, {:class => "nav-link", method: :delete} %>
                </li>
              <% else %>                
              <li class="nav-item">
                <%= link_to "Sign Up", new_user_registration_path, {:class => "nav-link"} %>
              </li>
                <li class="nav-item">
                  <%= link_to "Log in", new_user_session_path, {:class => "nav-link"} %>
                </li>
              <% end %>

              <% if user_signed_in? %>
                <li class="nav-item">
                  <%= link_to "Add Book", new_book_path, {:class => "nav-link"} %>
                </li>
                
              <% end %>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categories</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                  <% Category.all.each do |category| %>
                    <%= link_to category.name, books_path(category: category.name), {:class => params[:category] == category.name ? "dropdown-item active" : "dropdown-item"
                      } %>
                  <% end %>
                </div>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div> <!-- /container -->

    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
      
    <% end %>
    
    <%= yield %>

    <div style="height: 800px"></div>
  </body>
</html>
